body{
    font-family: "Open Sans",sans-serif;
    background-image: url("../images/lines.png"), url("../images/back.png");
    background-attachment: fixed;
}
#loading{
    position: fixed;
    z-index: 999;
    background: #fff url("../images/Preloader.gif") no-repeat center;
    width: 100%;
    height: 100vh;
}

#logo{
    height:60px;
}
#navbar{
    font-family: "Open Sans", sans-serif;
    box-shadow: 0px 0px 8px 0px #A9A9A9;
    padding: 1px;
}
.navigate{
    padding: 25px 0px;
}
.navtext{
    padding: 0 12px;
}
.navigate:hover{
    background-color: #DCDCDC;
    height: 100%;
}
/*1st Page CSS*/
#layer{
    position: relative;
}
.home_page{
    margin: 140px 0 80px 0px;
    height: 70vh;
    position: absolute;
    top: 80;
    transition: all 350ms linear 0s;
    transform: translate(0px,0px);
}
.home_text{
    margin: 190px 0 0 119px;
    font-family: Open-Sans, sans-serif;
    font-size: 52px;
    font-weight: bold;

}
.home_text2{
    margin: 20px 0 50px 119px;
    font-family: 'Barlow', sans-serif;
}
.homebutton{
    margin: 70px 0px 0 120px;
    border: 2px solid #0588B4;
    background-color:  #0588B4;
    border-radius: 40px;
    padding: 5px 0px 5px 0px;
    text-align: center;
}
.homebutton2{
    margin: 20px 0 0 136px;
    border: 2px solid #0588B4;
    background-color:  #0588B4;
    border-radius: 40px;
    padding: 3px;
    text-align: center;
}
.circle{
    top: 17%;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: #a4d7eb;
    right: 5%;
    transition: all 2.6s linear;
    -webkit-transition:all 2.6s linear;
    -moz-transition:all 2.6s linear;
}
.heading{
    margin: 150px 0 84px 120px;
    border-left: 4px solid;
    padding : 0 0 5px 20px;
    border-color: #ff7e2d;
    position: relative;
    bottom: 40;
    font-family: 'Roboto Mono', monospace;
}
.heading2{
    margin: 0 0 40px 120px;
    font-family: 'Barlow', sans-serif;
}
#learn{
    background-color: #a4d7eb;
    border-radius: 50px;
    font-size: 15px;
    padding: 15px 55px;
    box-shadow: 2px 5px 8px 5px #E2E2E2;
}
#learn:hover{
    background-color: #CBDEE7;
}
.backCloud{
    background-image: url("../images/backCloud.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    left: 0%;
    bottom: 15%;
    padding: 110px 0 140px 0;
    position: relative;
    transition: all 1s linear 0s;
}
#cloud{
    margin: -55px 0 0 40px;
    position: relative;
}
.row2{
    position: relative;
}
#third_page{
    margin: 90px 0 0 100px;
}
.heading3{
    margin: 70px 0 50px 110px;
    font-family: 'Roboto Mono', monospace;
    font-size: 42px;
}
.heading4{
    margin: 0 0 40px 110px;
    font-family: 'Barlow', sans-serif;
    font-size: 32px;
}
.heading6{
    margin: 0 0 40px 110px;
}
#outback{
    background-image: url("../images/outback.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    bottom: 10%;
    margin: 0 0 0 0px;
    padding: 110px 0 140px 0px;
    position: relative;
    transition: all 1s linear;
}
#out{
    margin: -5px 0 0 10px;
    position: relative;
}
#explore{
    background-color: #FF7E2D;
    border-radius: 50px;
    font-size: 15px;
    padding: 15px 55px;
    box-shadow: 2px 5px 8px 5px #E2E2E2;
}
#fourth_page{
    margin: 187px 0 70px 132px;
    border-left: 4px solid;
    padding : 0 0 5px 20px;
    border-color: #ff7e2d;
    font-family: 'Barlow', sans-serif;;
    font-size: 38px
}
.image {
  display: inline;
  width: 100%;
  height: 230px;
  padding: 20px;
}
.text2{
    margin-top: 20px;
}
#event{
    margin: 0px 0px 0 140px;
    padding: 0 70px;
}
.events1{
    margin: 0 auto;
    box-shadow: 0px 0px 20px 0px #E2E2E2;
    position: static;
    border: 1px  #E2E2E2;
    border-radius: 20px;
    z-index: 3;
}

.timeline{
    height: 250px;width: 250px;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  opacity: 0;
  transition: .5s ease;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.over:hover .overlay {
  opacity: 1;
  
}

.text1 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.heading5{
    border-left: 4px solid;
    padding : 0 0 5px 20px;
    border-color: #ff7e2d;
    font-family: 'Barlow', sans-serif;
    font-size: 38px;

}
#result_container{
    margin: 158px 0 70px 185px;
}
.coreTeam{
    height: 250px;
    width: 250px;
    position: relative;
    border-radius: 125px;
    box-shadow: 0px 0px 20px 0px #ccc;
}
.carouselPic{
    padding: 20px 0px 0 0px;
}
#footer{
    background-image: url("../images/footer.svg");
    margin: 120px 0 0 0;
    padding: 120px ;
    position: absolute;
}
#footer_contact{
    position: relative;
    right: 50;
    left:50;
    border: none;
    border-radius: 120px;
    padding: 75px 80px 75px 80px;
    box-shadow: 2px 3px 5px 3px rgba(0, 0, 0, 0.25);
}
.text{
    margin: 11% 0 0 0;
    font-family: 'Barlow', sans-serif;
}
#circle2{
    border: none;
    height:30px;
    width:30px;
    border-radius: 15px;
    background-color: #FF7E2D;
    transition: all 0.3s linear;
}
.goLeft{
    top:42%;
    right: 90%;
}
.goRight{
    top:65%;
    right: 0%
}
.goDown{
    top:90%;
    right: 90%;
}
.social{
    margin-top: 7%;
    margin-left:7%;
    padding-bottom: 3%;
}
.social-image{
    padding:0 20px;
}
.address{

    border-right: 2px solid #1d1d1d;
    font-weight: normal;
    font-size: 13.5px;
    line-height: normal;
    color: #262626;
 }
 .email{
    font-weight: bold;
    font-size: 13.5px;
    line-height: normal;
    color: #262626;
    text-decoration: none;
}
.con{
    border-top: 1px solid #83ACBC;
    width: 80%;
    margin: 0 auto;
}
